html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--blockColor);
    background-color: #fff;
    font-family: 'Larsseit';
}

ul, ol, li {
    list-style: none;
}
img, fieldset {
    border: none;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    -o-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s;
}
a:hover {
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
figure {
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
embed, iframe, object, video {
    max-width: 100%;
}
html {
    -webkit-text-size-adjust: none;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.wp-caption {
    border: none;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 0 10px 0;
}
.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 12px;
}
.wp-caption p.wp-caption-text {
    line-height: 18px;
    padding: 0 15px;
    display: block;
    font-style: italic;
    color: #000000;
    font-size: 12px;
}
input, textarea {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
   font-family: 'Poppins', sans-serif;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[placeholder], [placeholder], *[placeholder] {
   font-family: 'Poppins', sans-serif;
    color: inherit;
}
*::-webkit-input-placeholder {
color:inherit;
}
*:-moz-placeholder {
 color:inherit;
 opacity:  1;
}
*::-moz-placeholder {
 color:inherit;
 opacity:  1;
}
*:-ms-input-placeholder {
color:inherit;
}
.center_content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    display:flex;
    flex-wrap:wrap;
}
.flex-nowrap {
    display:flex;
    flex-wrap:nowrap;
}
.align-center {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.flex-space-between {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.justify-content-center{ justify-content: center; }
.row-reverse { flex-flow: row-reverse; }
.flex-row-reverse{flex-flow: row-reverse;}
.flex-row-none { flex-flow: inherit !important;}

/*---------- banner_main_container ----------*/
.banner_main_container  {
    background:var(--whiteColor);
}
.banner_area {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
}
.banner_wrap {
    padding: 100px 0 100px 0;
    position: relative;
    z-index: 2;
}

.banner_bx {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0 30px;
}
.request_numcount_bx {
    width: 236px;
}
.request_numcount {
    border-radius: 48px;
    height: 70px;
    border: 1px solid #A9C1B7;
    background-color: var(--whiteColor);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.request_numcount strong {
    color: var(--blockColor);
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
}
.request_numcount_bx h6 {
    font-weight: 400;
    color: var(--blockColor);
    text-align: center;
    padding-top: 8px;
}

